/*==========Root Css Variables ================*/
:root{
    --color-white:#fff;
    --color-light:#f0eff5;
    --color-gray-light:#86848c;
    --color-gray-dark:#56555e;
    --color-dark:#27282f;
    
    --color-danger:rgb(255,67,54);
    --color-warning:rgb(234,181,7);
    --color-purple:#a200d8;
    --dark-body: rgb(11 22 24);

}

/*=================END ROOTS==================*/

/*===========Custom Scrollbar=================*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-gray-dark);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-warning);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:var(--color-danger);
  } 
/*===============Custom Scrollbar End======================*/

/*============= CSS FORMAT ============================*/
*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    appearance:none;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;

}
/*=================END OF CSS FORMAT===============*/

/*=================Basic Settings=================*/
html{
    font-size:12px;
    height:100vh;
}




body{
    
    font-family: poppins,sans-serif;
    min-height:100vh;
    color:var(--color-dark);
    overflow-x: hidden;
    line-height:1.6;
    background:rgb(11 22 24);
    
}

img {
    display: block;
    width: 100%;
}
h1{
    font-size:2.5rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.2rem;
}
h4{
    font-size:1rem;
}
h5{
    font-size:0.86rem;
    font-weight:500;
}
h6{
    font-size:0.76rem;
}
p{
    font-size:0.86rem;
    color:var(--color-gray-dark);
}
ul{
    list-style: none;
    padding:0;
}
a{
    text-decoration:none;
    font-size:2rem;
    transition:0.3s;
    color:var(--color-dark);
}
a:hover{
    color:var(--color-danger);

}
.flex{
    display:flex;
}
.grid{
    display:grid;
}
.padding{
    padding:0 50px 90px 50px;
}
/*=================End of Basic Settings=================*/

/*======Header =====*/
header{
    z-index:999;
    position:fixed;
    width:100%;
    height:calc(5rem+1rem);
    top:0;
    left:0;
    justify-content:center;

}

/*======Navigation======*/
.nav-bar-mobile{
  display:none;
}
.mobile-menu{
  display:none;
}
.active{
    border-bottom:2px solid var(--color-warning);
    padding:0 0 0.4em 0;
}
.nav-logo{
    width:200px;
}
header .nav-bar{
    position:relative;
    padding:4em;
}

.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding:0 2em;
    transition:0.3s ease
}
.navigation{
    display:flex;
}
.hamburger-menu , .close-btn{
    display:none;
}

.nav-items a{
    font-size: 2rem;
    color:var(--color-light);
    margin:10px;
    font-weight:bold;
    position:relative;
    transition:0.5s;
}
.nav-items a::after{
  position:absolute;
  content:"";
  width:100%;
  height:3px;
  top:120%;
  left:0;
  background:var(--color-warning);
  transition:transform 0.5s;
  transform:scale(0);
  transform-origin:right;
}

.nav-items a:hover::after{
  transform:scaleX(1);
  transform-origin:left;
}
.nav-menu-btn , .nav-close-btn {
    display:none;
}
.nav-items .fa-bars::before , .fa-xmark::before {
    display:none;
}


/*Mobile navbar*/
.mobile-menu-container{
  display:none;
}
/*==============END OF NAVIGATION ==================*/
/*==============HERO-SECTION========================*/


/*==============Swiper========================*/
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom:50%;
    transform: rotate(90deg);
    left:0;
    width:190%;
}
.swiper-pagination-bullet {
    background:var(--color-warning);

}
.swiper {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.863);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    
  }
  .swipper-wrapper{
      display:flex;
      flex-direction:column; 
  }
  /*=========End Swiper==============*/


  .bg1{
      background-image: url(./images/gas-banner.jpg);
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .bg2{
    background-image: url(./images/bulb-banner.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .bg3{
    background-image: url(./images/plumber-baner.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .bg4{
    background-image: url(./images/remonty-baner.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .media-icons{
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 90px;
    align-items:center;
  }
  
  .media-icons a{
    color: var(--color-light);
    font-size: 1.7em;
    margin: 10px 0;
  }
  .media-icons a:hover{
      color:var(--color-warning);
  }
  .text-content h1{
      font-size:5rem;
      color:var(--color-white);
      padding-bottom:1em;
      font-weight:bold;
  }
.text-content a{
    color:var(--color-white);
    display:flex;
    align-items: center;
}
.text-content a:hover{
    color:var(--color-warning);
}
#arrow{
  animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
/*====================End of Hero Section=====================*/



/*====================Menu Hover on scroll===================*/
.black{
    position:fixed;
    top:0;
    background:rgb(51 51 51 / 0%);
    width:100%;
    height:50px;
    transition:0.5s ease-in-out;
    
  }
  /*End of Hover on scroll*/

/*======================Introduction Section====================*/
.introduction{
  display:flex;
  color:var(--color-light);
  justify-content:center;
  flex-direction: column;
  position:relative;
  padding: 5em 5em 12em 5em;
  background:rgb(11 22 24);
}
.background-word1{
  font-size:10em;
  font-weight:bold;
  color:#ffffff4a;
  
  
}

.background-word2{
  font-size:8em;
  font-weight:bold;
  color:#ffffff;
  text-align:end;
}
.background-word3{
  font-size:8em;
  font-weight:bold;
  color:#ffffff;
  
}
.background-word4{
  font-size:7em;
  font-weight:bold;
  color:#ffffff66;
  text-align:end;

}

.animation-title1{
  font-size:10em;
  color:var(--color-warning);
  text-align:center;
}
/*Section Title*/
.section-title , .section-title1{
  font-size: 8rem;
  text-align: center;
  font-weight: bold;
  color: var(--color-white);
  padding-top: 40px;
  padding-bottom: 60px;
}
.section-title1{
  background:rgb(11 22 24);
}

.svg1 {
  position: absolute;
  bottom: 99%;
  width: 100%;
  height: 10vw;
  transform: rotateY(180deg);
}

/*====================End of  Introduction Section ===============*/


/*======================Services Section==========================*/
.services{
  background:rgb(231, 229, 229);
    padding-bottom: 1px;
    position:relative;
}

.services-card{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  gap:1em;
  padding-bottom:13em;
}

.image{
	background: #00000059;
	position: relative;
	flex: 1;
	max-width: 460px;
	height: 400px;
	margin: 20px;
	overflow: hidden;
}

.image img{
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
  width:100%;
  height:100%;
  
  
}

.image:hover img{
	opacity: 1;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
  background:#00000047;
}

.image .details h2{
	text-align: center;
	font-size: 2.3em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
  color:var(--color-white);
}

.image .details h2 span{
	font-weight: bold;
  font-size:3rem;
}

.image:hover .details h2{
	transform: translateY(-30px);
}
.card-title1{
  font-size:1.7rem!important;
}

.image .details p{
	margin: 15px 0 ;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
  color:var(--color-light);
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background:#000000a6;
	width: 100%;
	align-items: center;
	padding: 15px;
	bottom: -87px;
	transition: 0.6s;
	transition-property: bottom;
  text-align:center;
  
}
.more a{
  color:var(--color-warning);
  font-weight:bold;
}

.image:hover .more{
	bottom: 0;
}

.more .read-more{
	color: var(--color-white);
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.more .read-more span{
	font-weight: 900;
}

.more .icon-links i{
	color: #000;
	font-size: 20px;
}

.more .icon-links a:not(:last-child) i{
	margin-right: 20px;
}
/*======================End of Services Section==========================*/


/*=======================Testimonials===================================*/
.testimonials{
  position:relative;
  background-color: var(--color-purple);
  padding-bottom: 13em;
}
.mySwiper2 .swiper-slide{
  border-radius:10px;
  flex-direction: column;
  max-height: 520px;
}
.swiper-button-next:after, .swiper-button-prev:after{
  color:#fff;
  font-size:1.5em;
}
.review-content{
  font-size:2rem;
  font-weight:bold;
  padding:0 .1em;
  position:relative;
  bottom:8%;
}
.quontention{
  color: #ff4e00;
  font-size: 1.8em;
}

.svg2{
  position: absolute;
  bottom: 99%;
  width: 100%;
  height: 10vw;
}
.svg3 {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 10vw;
  transform: rotateY(180deg);
  
}

/*=======================End of Testimonials===================================*/

/*===========================Infiniti loop image Slider ==============================*/
.slider{
  height:250px;
  margin:auto;
  position: relative;
  display:grid;
  place-items: center;
  width:90%;
  overflow:hidden;
}
.slider-track{
  display:flex;
  width:calc(300px*18);
  animation:scroll 40s linear infinite;
  padding-bottom: 100px;
}
.slide{
  width:400px;
  display:flex;
  align-items:center;
  padding:10px;
  perspective:100px;

}
.slide img{
  width:100%;
  transition: transform 1s;
  

}
.slide img:hover{
  transform:translateZ(20px);
}
.slider-track:hover{
  animation-play-state:paused;
}
@keyframes scroll{
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(calc(-300px*9));
  }
}

/*===========================End of Infiniti loop image Slider ==============================*/




/*============================ FOOTER =======================================================*/
footer{
  background:black;
  margin-top:2em;
}
.social-links{
  justify-content: space-evenly;
  border-top:1px solid #ffffff4f;
  padding-top:20px;

  
}
.social-links a {
  color:var(--color-warning);
}
.social-links a:hover{
  color:var(--color-danger);
}

#footer-icon {
  color:var(--color-warning);
  padding-right:20px;
}

.footer-container{
  grid-template-columns: 1fr 1fr;
  gap:20px;
  border-top:1px solid #ffffff4f;
  padding: 20px 0;
  text-align:center;
}
.footer-col1{
  align-self:center;
}
.footer-col2{
  color:var(--color-white);
  border-left:1px solid #ffffff4f;
  align-self:center;
}
.footer-kontakt {
  font-size:2rem;
  color:#fff;
}
.footer-kontakt:hover{
  color:var(--color-warning);
}
/*===========================End of footer ==============================*/

/*Button Back to the top*/
.back-to-top {
  position: fixed;
  display: none;
  background: var(--color-warning);
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 9;
  padding:10px;
}

.back-to-top:visited{
  background-color: var(--color-warning);
}

.back-to-top:hover {
  background: var(--color-danger);
  color:var(--color-dark);
}

.back-to-top:hover span {
  color: var(--color-gray-dark);
}

.back-to-top span {
  color: #1d2434;
  padding-top: 10px;
}
.back-to-top:active{
  background:var(--color-warning);
}

/*=========================== Back to the top ==============================*/










/*============= MEDIA QUERY ===============================*/

@media (max-width: 1056px){
	.image{
		flex: 30%;
		max-width: 400px;
    margin:0 auto;
	}
  .svg1 ,.svg2{
    bottom:99%;
    height:10vw;
  
  }
}
@media(max-width:988px){
  .nav-items a{
    font-size:1.6rem;
    margin:6px;
  }
  .media-icons{
    display:inline-block;
    top:95%;
    
  }
  .media-icons a {
    padding-right:20px;
    font-size:10px;
  }

  

}


@media(max-width:830px){
  .big-device-menu{
    display:none;
  }
  .menu-container{
    position:relative;
    z-index:99;
  }
  .mobile-logo{
    width: 200px;
    position: absolute;
    top: 40px;
    left: 40px
  }
.brand-logo{
  width:200px;
}
.menuBtn{
  width:40px;
}
  .menuBtn , .exit{
    cursor:pointer;
  }
  .nav-bar-mobile{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    color: var(--color-white);
    width: 100%;
    align-items: center;
  }
  .mobile-menu{
    opacity:0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color:var(--color-white);
    height:100vh;
    width:100%;
    position: fixed;
    align-items: center;
    top:-100%;
    background:#1d2434;
    
  }
  .background-menu{
    font-size:14em;
    position:absolute;
    color:#ffffff0a;
    font-weight: bold;
  }
  .exit{
    position:absolute;
    top:40px;
    right:60px;
    width:40px;
  }
  .nav-link{
    color:var(--color-white);
    font-size:2rem;
    font-weight:bold;
    transition:all 0.2s ease-in-out;
  }
  .nav-list li {
    margin-bottom: 10px;
  }
  .nav-link:hover{
    color:var(--color-warning);
    transition:all 0.2s ease-in-out;
  }
  .information{
    padding-bottom:2em;
  }
  .info-title{
    color:var(--color-warning);
    font-size:2em;
  }
  .info-desc{
    font-size:1.7em;
    color:#ffffff8f;
  }
  .animate-li{
    opacity:0;
    margin-top:-20px;
  }
  .animation-title1{
    font-size:8em;
  }
  .background-word1{
    font-size:8rem;
    padding-top:1.5em;
  }
  .background-word2 , .background-word3 , .background-word4{
    font-size:6em
  }
  .paralax-title{
    font-size:8em;
  }
  .section-title{
    font-size:8rem;
  }

.image .details h2{
  font-size:3rem;
}

    
}
@media (max-width: 720px){
  .image {
    flex: 40%;
    max-width: 400px;
    margin: 0 auto;
}
.text-content a{
  justify-content: center;
}

.animation-title1 , .section-title , .section-title1{
  font-size:6em;
}
.background-word1 {
  font-size: 5rem;
  padding-top: 1em;
}
.background-word2, .background-word3, .background-word4{
  font-size:4rem;
}
.content-counter{
  padding:3em 0.2em;
  height:auto;
}
.text-counter{
  font-size:1.4rem;
}
.review-content{
  font-size:1.6rem;
}


}

@media (max-width: 537px){
	.brand-logo{
    width:130px;
  }
  .text-content h1{
    font-size:4rem;
  }
  .image .details p{
		font-size: 16px;
	}
  .media-icons{
    left:0;
  }
  .image{
		flex: 100%;
		max-width: 480px;
	}
  .mobile-menu{
    padding-top:80px;
    height:100%;
  }
  .info-title{
    font-size:1.5rem;
  }
  .introduction{
    padding: 0 0 6em 0;
  }
  .animation-title1{
    font-size:4rem;
  }
  .background-word2, .background-word3, .background-word4 {
    font-size: 3rem;
}

	.more .read-more, .more .icon-links a i{
		font-size: 18px;
	}
  .parallax{
    justify-content: center;
    gap: 0em;
    
  }
  .text-counter{
    font-size:1.1rem;
  }
  .info-desc{
    font-size:1.4rem;
  }
  
  .image .details h2 {
    font-size: 2.3rem;
  }
  .section-title1{
    font-size:5rem;

  }
  .fa-location-dot:before, .fa-map-marker-alt:before , .fa-phone:before{
    display: none;
  }
  .card-title1{
    font-size:2.1rem!important;
  }
  .testimonials{
    padding-bottom:10em;
  }
  .review-content{
    font-size:2rem;
  }
  .section-title{
    padding-bottom:2em;
  }
  .footer-container{
    grid-template-columns: 1fr;
  }

}

/*=========================== END OF MEDIA QUERY==============================*/



















